<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#c75b39">
    <meta name="description" content="Social Bingo - Find people who match the questions!">
    <title>Soc Ops - Social Bingo</title>
    <link rel="preload" href="/static/fonts/gaegu-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/static/fonts/nunito-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/static/fonts/nunito-bold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="icon" type="image/png" href="/static/favicon.png">
    <script src="/static/js/htmx.min.js"></script>
</head>
<body>
    <div id="app">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
